/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$bell-from: 15deg;
$bell-to: 45deg;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

h2 {
  color: $vin-blue;
}

.form-group {
  .popover.right {
    width: 260px;
    right: -260px;
    left: auto;
    font-size: 12px;

  }
  .popover.right > .arrow {
    left: -16px;
    margin-top: -8px;
    border-width: 8px;
  }
  .popover-content {
    padding: 5px 10px;
    div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.btn-toolbar {
  margin-left: -10px;
}

.bell {
  margin-right: 5px;
  position: relative;
  transform: rotateZ($bell-to) !important;
  animation: rotateBell 2s infinite;
  top: 3px;
  left: 3px;
  transform-origin: top center;
}

@keyframes rotateBell {
  0% {
    transform: rotateZ($bell-to);
  }
  6% {
    transform: rotateZ($bell-from);
  }
  12% {
    transform: rotateZ($bell-to);
  }
  18% {
    transform: rotateZ($bell-from);
  }
  24% {
    transform: rotateZ($bell-to);
  }
  100% {
    transform: rotateZ($bell-to);
  }
}

